<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="img/laptop-icon.png" />

<!--SEO-->
<title>{{title}}</title>
<meta name="description" content="Maria Lopez's web development portfolio. Explore projects built with HTML, CSS, JavaScript, React and Eleventy, and contact the author.">
<meta name="keywords" content="HTML, CSS, JavaScript, React, Eleventy, portfolio, developer">
<meta name="author" content="Maria Lopez">



<!--styles -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Tajawal&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/2eb9dd0896.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="./CSS/style.css">