
<section class='portfolio'>
  <h2 class='section-title' id='portfolio-title'>Projects</h2>

  <!--first project: games website-->
  <section class='card-container'>
    <article class='portfolio-card'>
      <img class='portfolio-img' id='portfolio-img1' src='/img/tbc.jpg' alt=''>
      <section class='portfolio-info'>
        <h3>FunGam</h3>
        <ul>
          <li><span class='bold-text-cards'>Live Website Link:</span> <a href='https://yoyesu.github.io/dice-game/' target='_blank'>Link</a></li>
          <li><span class='bold-text-cards'>GitHub Link:</span> <a href='https://github.com/yoyesu/dice-game' target='_blank'>Link</a></li>
          <li><span class='bold-text-cards'>Technologies used:</span> HTML, CSS and JavaScript </li>
          <li><span class='bold-text-cards'>Summary:</span> Games website, including memory card game and the classic tic tac toe.</li>
        </ul>
      </section>
    </article>


  <!--second project: Bungalow with react-->
    <article class='portfolio-card'>
      <img class='portfolio-img' id='portfolio-img2' src='/img/tbc.jpg' alt=''>
        <section class='portfolio-info'>
          <h3>The New Bungalow</h3>
          <ul>
            <li><span class='bold-text-cards'>Live Website Link:</span> <a href='https://the-new-bungalow.netlify.app' target='_blank'>Link</a></li>
            <li><span class='bold-text-cards'>GitHub Link:</span> <a href='https://github.com/yoyesu/theNewBungalow' target='_blank'>Link</a></li>
            <li><span class='bold-text-cards'>Technologies used:</span> HTML, CSS, Semantic UI and React </li>
            <li><span class='bold-text-cards'>Summary:</span> This is a collab with the developer <a href="https://github.com/HaideeCardy">Haidee</a> where we created a fresh site for her bungalow.</li>
          </ul>
        </section>
    </article>

  <!--third project-->
    <article class='portfolio-card'>
      <img class='portfolio-img' id='portfolio-img3' src='/img/tbc.jpg' alt=''>
        <section class='portfolio-info'>
          <h3>Project 3</h3>
          <ul>
            <li><span class='bold-text-cards'>Live Website Link:</span> <a href='' target='_blank'>Link</a></li>
            <li><span class='bold-text-cards'>GitHub Link:</span> <a href='' target='_blank'>Link</a></li>
            <li><span class='bold-text-cards'>Technologies used:</span> HTML, CSS... </li>
            <li><span class='bold-text-cards'>Summary:</span> This is a summary of project 3.</li>
          </ul>
        </section>
    </article>
  </section>
</section>